html, body {
  margin: 0;
  padding: 0.5rem;
}

body {
  font-size: 1.4rem;
  background: #fee;
}

h1 {
  margin: 0 0 1rem 0;
  width: 100%;
  text-align: center;
}

p {
  font-size: inherit;
}

div.debug {
  font-size: 0.7rem;
}

div.control {
    width: 100%;
    display: box;
    box-pack: justify;
    -moz-box-pack: justify;
    overflow: hidden;
    position: fixed;
    bottom: 5px;
    left: 0px;
}

div.celem {
    width: 20%;
    float: left;
    display: block;
    /* background-color: #808080; */
    text-align: center;
}

#seekbar {
    width: 97%;
    left: 0px;
    display: block;
}

#main {
    position: absolute;
    top: 40%;
    margin-top: -1rem;
}

#artist {
    font-size: 1rem;
    color: #808080;
}
